:root{
    --baseColor: #e41B17;
}

/* Active link*/
.navbar-dark .navbar-nav .show > .nav-link, 
.navbar-dark .navbar-nav .nav-link.active,
.dropdown-item:hover,
.dropdown-divider,
.carousel-indicators .active,
.optionBox .colorOption ul li,
.optionBox .gearCheck {
    background-color: var(--baseColor);
}
.about h1 span, 
.about h3 span,
.testimonial .carousel-item span,
.navbar-dark .navbar-brand span,
.footer h3{
    color: var(--baseColor);
}

/* navbar link, brand name */
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-brand,
.dropdown-item  {
    color: #BBB;
}
.optionBox .gearCheck,
.optionBox .colorOption,
.statistics .stats:hover,
.footer a:hover,
.team .t1{
    color: #FFF;
}

.features, .subscribe, .price-table{
    background-color: #EEE;
}

.testimonial .carousel-indicators button.active,
.optionBox .colorOption{
    border: 3px solid var(--baseColor);
}


/* dropdown menu */
.navbar-nav .dropdown-menu{
    background-color: #212529;
    border-top: 1px solid var(--baseColor);
}

.carousel-caption {
    background-color: rgba(3, 3, 3, 0.3);
}

.carousel-indicators [data-bs-target]{
    border: 1px solid #EEE;
}

.optionBox .colorOption{
    background-color: #333;
}

.about .lead{
    color: #888;
}

.features .feature span.ace-icon{
    color: gray;
}
.price-table .price-box{
    background-color: #FFF;
}
.price-table .price-box p{
    color: #666;
    background-color: #F3F3F3;
    border: 2px solid white;
}
.price-table .price-box:hover p{
    border: 2px solid #DFDFDF;
}
.team .t1{
    background-color: rgba(3, 3, 3, 0.75);
}
.subscribe h1{
    color: #888;
}
.statistics .data{
    background-color: rgba(3, 3, 3, 0.8);
    color: #B6B5B5;
}
.footer{
    background-color: #333;
    color: #AAA;
}
.footer a{color: #AAA;}